body{
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
}

/*header */

#header{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 64px;
}

.nav-item li a{
    color: aliceblue;

  
}


.justify-content-center .nav-item .nav-link{
    color: white;
}
/*header End*/

/* credit card Offer section*/
#Offer-Section{
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(44, 43, 43);
    position: relative;
    top: 50px;
}

#Offer-Section a{
    text-decoration: none;
    color: rgb(28, 42, 247);
}
/* credit card Offer section*/


/*section 1 movie section*/
#moviead{
    background-image: url(Resources/fursat-hero_startframe_large.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

#adname{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#btn{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10rem;
   
}
/*section 1 movie section END*/

/*section 2  */
#LatestGadget{
    background-image: url(Resources/LatestGadget.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#LatestGadget div{
    text-align: center;
}
/*section 2 END*/



/*section 3 */
#product2 {
    background-image: url(Resources/product\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
/*section 3 END */


/*section 4*/
/*product 1*/

#section4_product1{
    background-image: url(Resources/section3\ product\ 1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    box-sizing: border-box;
}
/*product 1 END*/

/*product 2 */
#section4_product2{
    background-image: url(Resources/section\ 3\ product\ 2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    box-sizing: border-box;

}
/*product 2 END*/
/*section 4 End*/

/*section 5*/
/*product 1*/
#section5_product1{
    background-image: url(Resources/section_5_product1.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;

}
/*product 1 END*/
/*product 2*/
#section5_product2{
    background-image: url(Resources/section_5_product2.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;

}
/*product 2 END*/
/*section 5 END*/

/*section 6*/
/*section6 product1*/
#section6_product1{
    background-image: url(Resources/Section6_product1.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
/*section6 product1 END*/

/*section 6 product 2*/
#section6_product2{
    background-image: url(Resources/section6_product2.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

/*section 6 product 2END*/

/*section 6 END*/

/*Footer*/

.footer{
    background-color: grey;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;

}

.wrapper{
   
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
}


/*Footer*/

footer{
    width: 100%;
    background-color: rgb(211, 208, 208);
}



footer li{
    font-size: smaller;
    margin-top: 1%;
    
}


footer section{
    width: 70%;
    margin: 0 auto;
    margin-top: 1%;
    padding-top: 30px;
}

hr{
    background-color: black;
}

footer section h6{
    color: rgb(61, 60, 60);
}

footer section li{
    list-style-type: none;
    
}

footer section li a{
    color: rgb(49, 49, 49);
}

footer section p{
    color: rgb(49, 49, 49);
    font-size: smaller;
}

#footer1{
    position: relative;
    left: 15px;
}

    /*Footer End*/

